@use '../theme.scss';

.to-top {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  top: calc(85%);
  right: 1rem;
  background: theme.$color-clouds;
  color: theme.$color-wetasphalt;
  cursor: pointer;
  font-size: 1.5rem;
  border: 3px dashed theme.$color-wetasphalt;
  z-index: 1;
}
