@use '../layout.scss';
@use '../theme.scss';

.container {
  position: relative;
  margin-right: 1.25rem;
  height: 100%;
  display: flex;
}

.title {
  cursor: pointer;
  display: flex;
  align-items: center;

  button {
    font-size: 1.25rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: theme.$color-midnightblue;
    &:hover {
      background-color: theme.$color-midnightblue;
      color: theme.$color-clouds;
    }
  }

  &-narrow {
    display: none;
  }

  &-wide {
    display: inline;
  }
}

.categories {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: white;
  width: 6rem;

  div {
    margin: 0.5rem;
  }

  div a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
  }
}

.categories.visible {
  display: block;
}

@media (max-width: layout.$screen-tiny) {
  .title {
    &-narrow {
      display: inline;
    }
    &-wide {
      display: none;
    }
  }
}
