@use '../layout.scss';
@use '../theme.scss';

.not-exist {
  @include layout.only-message;
}

.exist {
  min-height: calc(100vh - layout.$header-height - layout.$footer-height);
  display: flex;
}

.choose {
  padding-top: 1rem;
  width: 8rem;
  border-right: 3px solid black;

  button {
    width: 100%;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background-color: transparent;
    cursor: pointer;

    &.chosen {
      color: theme.$color-pomegranate;
    }
  }
}

@media (max-width: layout.$screen-small) {
  .exist {
    flex-direction: column;
  }

  .choose {
    padding: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 3px solid black;

    button {
      width: 4rem;
      margin: 0 1rem;
    }
  }
}
