@use '../layout.scss';
@use '../theme.scss';

.main {
  @include layout.only-message;
  flex-direction: column;
}

.message {
  font-size: 2rem;
}

.to-home {
  a {
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    color: theme.$color-asbestos;
  }
}
